version: "3.8"

services:
  backend:
    build: .
    container_name: employee-backend
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_USER: admin
      DB_PASS: secret
      DB_NAME: employee_db
      JWT_SECRET: secret
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15
    container_name: employee-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: secret
      POSTGRES_DB: employee_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: always

volumes:
  pgdata: